# Pydantic needs rust & cargo installed. Need to pre-install them.
pydantic==2.10
snowflake-connector-python==4.2.0
pyodbc==5.3.0
python-dotenv==1.2.1
celery==5.6.2
redis==7.1.1
debugpy==1.8.20
boto3==1.42.53
